

/* Inicio Sección de Contacto */
#contacto {
    background-color: #ffffff;
}

#contacto h2 {
    font-size: 2.5rem;
}

#contacto .form-group label {
    font-weight: bold;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
/* Fin Sección de Contacto */
